error/Error.html

 
<form hx-post="{$wa_app_url}?module=settings&action=save" hx-swap="none">
    {$wa->csrf()}

    {* <input type="hidden" name="path" value="navigations.test"> *}
    {* <input type="hidden" name="replace" value="1"> *}

    <input type="text" name="navigations[catalog][id]" value="catalog">
    <input type="text" name="navigations[catalog][name]" value="Каталог">
    <input type="text" name="navigations[catalog][action]" value="myCatalog">

    <button type="submit">Сохранить</button>
</form>