<div class=" f-create-storage-container" id="f-create-storage-container">
    <form>
        <h1>[`Create storage`]</h1>
        <div class="f-storage-settings">
            <div class="fields">
                <div class="fields-wrapper">
                    {include file="./include.settings.html" nowrap=true container_id='f-create-storage-container' inline}
                    {include file='./include.access.settings.html' container_id='f-create-storage-container' inline}
                    {$wa->csrf()}
                    <div class="field">
                        <div class="value submit">
                            <button type="submit" class="button"><i class="fas fa-spinner fa-spin hidden custom-mr-4"></i> [`Create storage`]</button>
                            <a class="cancel button light-gray" href="javascript:void(0);">[`Cancel`]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function() {
        (function(container) {
            $.files.setBrowserTitle('[`Create storage`]');
            container.find('form').submit(function(e) {
                e.preventDefault()
                $.files.storageSettingsFormSubmit($(this));
            });
            container.find('.cancel').on('click', function() {
                history.back();
            });
        })($('#f-create-storage-container'));
    });
</script>
