/*
// .sa-toc
*/
@use '../functions' as func;
@use '../custom-variables' as vs;
@use '../mixins/bootstrap' as bt;
@use '../direction' as dir;

.sa-toc {
    font-size: .875rem;
    line-height: 1.125rem;
    padding: 1rem 0;
}
.sa-toc__container {
    padding: .5rem 1.5rem;
    overflow-y: auto;
    height: 100%;

    @include dir.scope {
        #{dir.$border-inline-start}: 1px solid vs.$sa-toc--border-color; // SKIP-PIXELS
    }
}
.sa-toc__head {
    font-size: func.rem(13);
    color: vs.$sa-toc__head--font-color;
    margin-bottom: .5rem;

    .sa-toc__link {
        padding: 0;

        &:hover {
            color: vs.$sa-toc__head--hover-font-color;
        }
    }
}
.sa-toc__list {
    list-style: none;
    padding: 0;
    margin: 0;

    .sa-toc__list {
        @include dir.scope {
            #{dir.$padding-inline-start}: 1.25rem;
        }
    }
}
.sa-toc__link {
    display: block;
    padding: .25rem 0;
    color: vs.$sa-toc__link--font-color;
    text-decoration: none;

    &:hover {
        color: vs.$sa-toc__link--hover-font-color;
    }
}
.sa-toc__link--current {
    font-weight: bt.$font-weight-medium;
}

@include bt.media-breakpoint-down(lg) {
    .sa-toc {
        margin-top: -1rem;
        margin-bottom: .5rem;
    }
    .sa-toc__container {
        padding: .75rem 1.25rem (.75rem - .25rem);

        @include dir.scope {
            #{dir.$border-inline-start}: 1px solid vs.$sa-toc--border-color; // SKIP-PIXELS
        }
    }
}
