/*
// .sa-timeline
*/
@use 'sass:math';
@use '../custom-variables' as vs;
@use '../direction' as dir;

$local-point-size: .875rem;

.sa-timeline {
    --sa-timeline--parent-bg-color: #{vs.$sa-timeline--parent-bg-color};
}
.sa-timeline__list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    @include dir.scope {
        #{dir.$margin-inline-start}: (($local-point-size * .5) - .1875rem);
    }

    &:before {
        color: vs.$sa-timeline--line-color;
        position: absolute;
        display: block;
        content: '';
        width: .125rem;
        background: linear-gradient(to bottom, currentColor 0%, currentColor calc(100% - 1.75rem), transparent 100%);
        top: .5rem;
        bottom: 0;

        @include dir.scope {
            #{dir.$inset-inline-start}: 0;
        }
    }
}
.sa-timeline__item {
    font-size: .875rem;
    padding-bottom: 1.25rem;
    position: relative;

    @include dir.scope {
        #{dir.$padding-inline-start}: 1.25rem;
    }

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: $local-point-size;
        height: $local-point-size;
        background: vs.$sa-timeline--point-color;
        border-radius: 50%;
        border: .125rem solid var(--sa-timeline--parent-bg-color);
        top: .1875rem;

        @include dir.scope {
            #{dir.$inset-inline-start}: -(($local-point-size * .5) - .0625rem);
        }
    }
}
.sa-timeline__item-title {
    color: vs.$sa-timeline__title--font-color;
}
.sa-timeline__item-title + .sa-timeline__item-content {
    margin-top: .375rem;
}
