<div class="modal-dialog {$moda_size|default:''}">
    <div class="modal-content category-form-wrapper">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title ">
                    <i class="bi bi-exclamation-triangle text-danger me-1"></i>
                    {$modal_title|escape} <b>{$catalog.name|escape}</b>
                </h5>
            </div>

            <div class="modal-body">
                <p>Вы действительно хотите удалить каталог? Действие приведет к потери настроенных интеграции!</p>

                <form method="POST" action="{$post_action_url|escape}" id="catalog_delete">
                    {$wa->csrf()}
                    <input type="hidden" name="delete_id" value="{$catalog.id|escape}">
                    <input type="hidden" name="delete[current_id]" value="{$current_id}">
                </form>
            </div>

            <div class="modal-footer justify-content-start user-select-none">

                <div class="field-group mb-2 w-100">
                    <div class="field">
                        <label>
                            <input type="checkbox" form="catalog_delete" name="delete[confirm]" value="1" required>
                            Я понимаю, что это действие нельзя будет отменить.
                        </label>
                    </div>
                </div>

                <div class="field-group w-100">
                    <a href="{$close_button_url|escape}" class="btn btn-secondary btn-sm me-2"
                        hx-boost="true">Закрыть</a>
                    <button type="submit" form="catalog_delete" class="btn btn-danger btn-sm">
                        {$save_button_name|escape}
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>