<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="{$wa_app_static_url}img/backend/favicon-apanel.png">
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>

    {* Accessibility Features *}
    <link rel="preload" href="{$wa_app_static_url}css/vendors/adminlte.min.css" as="style" />

    {* CSS Webasyst - Ручной минимальный вывод, вместо {$wa->css()}, так как убивает стили Bootstrap *}
    {if !$has_fullscreen}
        {if $wa->whichUI() == '2.0'}
            <link rel="stylesheet" href="{$wa_app_static_url}css/backend/apanel.ui2.css" />
        {else}
            <link rel="stylesheet" href="{$wa_app_static_url}css/backend/apanel.ui1.css" />
        {/if}
    {/if}

    {* CSS Fonts *}
    <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/source-sans-3-5.0.12.css" />

    {* CSS Bootstrap Icons *}
    <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/bootstrap-icons-1.11.3.min.css" />

    {* CSS Select2 и тема под Bootstrap 5 *}
    <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/select2-4.1.0-rc.min.css" />
    <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/select2-bootstrap-5-theme-1.3.0.min.css" />

    {* JS Не рендерим сайдбар если свернута, чтобы исключить дергание *}
    <script>
        (function() {
            const state = localStorage.getItem('lte.sidebar.state');
            if (state === 'sidebar-collapse') {
                document.documentElement.classList.add('lte-preload');
            }
        })();
    </script>
    {* CSS Скрываем sidebar, до инициализации *}
    <style>
        .lte-preload .app-sidebar {
            display: none !important;
        }
    </style>

    {* CSS AdminLTE *}
    <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/adminlte.min.css" />

    {* CSS Custom *}
    <link rel="stylesheet" href="{$wa_app_static_url}css/backend/apanel-bs.css?v={$wa->version()}" />
    <link rel="stylesheet" href="{$wa_app_static_url}css/backend/apanel.css?v={$wa->version()}" />

    {* JS wa-content *}
    {if !$has_fullscreen}
        <script src="{$wa_url}wa-content/js/fontawesome/fontawesome-all.min.js?v=513" defer=""></script>
        <script src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js"></script>
        <script src="{$wa_url}wa-content/js/jquery-wa/wa.switch-mode.js?v={$wa->version(true)}"></script>
        <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v={$wa->version(true)}"></script>
    {/if}

    {* CSS Fontawesome Icons *}
    {* <link rel="stylesheet" href="{$wa_app_static_url}css/vendors/fontawesome-free-7.1.0-web/css/all.min.css" /> *}
</head>