<div id="backend_modal_page" class="modal fade show"
    style="display: block; padding-left: 0px;background-color: #000000a1;">
    {$backend_modal_page nofilter}
</div>

<script>
    (function() {
        const applyAutofocus = () => {
            // Ищем элемент с autofocus
            const autoField = document.querySelector('input[autofocus], textarea[autofocus]');

            if (autoField) {
                // Устанавливаем фокус
                autoField.focus();

                // Если есть текст — выделяем его
                if (autoField.value.length > 0) {
                    autoField.select();
                    // Для надежности на мобильных
                    autoField.setSelectionRange(0, autoField.value.length);
                }
            }
        };

        // 1. Срабатывает при обычной загрузке страницы
        document.addEventListener("DOMContentLoaded", applyAutofocus);

        // 2. Срабатывает каждый раз, когда HTMX обновляет контент
        document.addEventListener("htmx:afterSwap", applyAutofocus);
    })();
</script>