<nav id="header" class="app-header navbar navbar-expand bg-body-secondary" data-bs-theme="dark">
    <div class="container-fluid px-0">

        {* Блок слева *}
        {if $header_left_enabled}
            <ul id="header_left" class="navbar-nav left">

                {* Переключатель сайдбара (иконка) *}
                {if $header_left_toggle_enabled}
                    <li id="header_left_toggle" class="nav-item text-nowrap">
                        <a class="nav-link" data-lte-toggle="sidebar" href="#">
                            <i class="bi bi-list"></i>
                        </a>
                    </li>
                {/if}

                {* logo img *}
                {if $header_left_logo_enabled}
                    <a id="header_logo" href="{$sidebar_header_logo_target_url|escape|default:$wa_app_url}"
                        class="brand-link px-3">
                        <img src="{$wa_app_static_url}img/backend/{$sidebar_header_logo_img_file_name|escape:'img'}" width="38"
                            alt="" class="brand-image opacity-75">
                    </a>
                {/if}


                {* items - Меню 2 уровня / Основные модули *}
                {if !empty($header_left_items)}
                    <div id="header_left_items" class="d-contents">
                        {foreach $header_left_items as $item}
                            <li class="nav-item {if $item.is_active}active{/if}">
                                <a href="{$wa_app_url}{$item.url|escape}" class="nav-link">
                                    {if !empty($item.icon)}
                                        <span class="icon-wrapper">
                                            {$item.icon|escape:'img'}
                                        </span>
                                    {/if}
                                    {$item.name|escape}
                                </a>
                            </li>
                        {/foreach}
                    </div>
                {/if}

            </ul>
        {/if}

        {* Блок справа *}
        {if $header_right_enabled}
            <ul id="header_right" class="navbar-nav right ms-auto">

                {* Переключатель полноэкранного режима *}
                {if $header_right_fullscreen_switch_enabled}
                    <li id="header_right_fullscreen_switch" class="nav-item">
                        <a class="nav-link" href="{$header_right_fullscreen_switch_get_url|escape}">
                            {if $has_fullscreen}
                                <i class="bi bi-fullscreen-exit"></i>
                                <span class="d-none d-xl-inline ms-2">Webasyst</span>
                            {else}
                                <i class="bi bi-arrows-fullscreen"></i>
                                <span class="d-none d-xl-inline ms-2">Одиночный режим</span>
                            {/if}
                        </a>
                    </li>
                {/if}

                {* Блок профиль пользователя выпадающее окно *}
                {if $header_right_profile_dropdown_enabled && $has_fullscreen}
                    {include file="./BackendHeaderProfile.html" inline user=$header_right_profile_dropdown_items}
                {/if}

            </ul>
        {/if}

    </div>
</nav>