{* Шапкак *}
<div class="sidebar-header custom-m-6">
    <div class="bricks">
        <a href="{$wa_app_url}" class="brick selected accented">
            <span class="icon"><i class="fas fa-star"></i></span>
            <span class="count">0</span>
            Проекты
        </a>
        <a href="{$wa_app_url}plugins/" class="brick">
            <span class="icon"><i class="fas fa-laptop-code"></i></span>
            <span class="count">12</span>
            Плагины
        </a>

        <a href="{$wa_app_url}" class="brick">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="count"></span>
            Настройки
        </a>

        <a href="{$wa_app_url}" class="brick">
            <span class="icon"><i class="fas fa-object-group"></i></span>
            <span class="count">44</span>
            Темы дизайна
        </a>
    </div>
</div>

<hr class="custom-m-16 custom-mt-0" />

{* Кнопка добавления проекта *}
<form action="" method="post" class="full-width custom-mx-16 custom-mb-16">
    {$wa->csrf()}
    <button type="submit" name="request_button" value="create_project" class="button width-100"
        style="background: var(--green);">
        <i class="fas fa-plus"></i> Создать новый проект
    </button>
</form>


{* Саисок проектов *}
<div class="sidebar-body custom-m-6">
    <h5 class="heading custom-mb-20">Мои проекты</h5>

    {if !empty($projects)}
        <ul class="menu mobile-friendly">
            {foreach $projects as $p}
                <li class="rounded custom-mx-10 custom-mb-10 custom-p-0{if strpos($wa->currentUrl(), $p.id)} selected{/if}">
                    <a href="{$wa_app_url}project/{$p.id}/" class="custom-py-12">
                        <i class="fas fa-star"></i>
                        <span>{$p.name}</span>
                    </a>
                </li>
            {/foreach}
        </ul>
    {else}
        <div class="box custom-mt-16 custom-p-16 text-light-gray">
            Тут пока пусто. <br> Создайте свой первый проект и
            начните настраивать панель
            администратора.
        </div>
    {/if}
</div>


{* Подвал *}
<div class="sidebar-footer js-overflowing-gradient custom-m-6">


    {* <div class="box custom-p-0">
        <ul class="menu s-main-menu custom-mt-0-mobile">

            <li class="rounded">
                <a class="item" href="{$wa_app_url}modules">
                    <span class="s-icon-main icon">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="s-name">Модули</span>
                </a>
            </li>
            <li class="rounded">
                <a class="item" href="{$wa_app_url}templates">
                    <span class="s-icon-main icon">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="s-name">Шаблоны</span>
                </a>
            </li>
            <li class="rounded">
                <a class="item" href="{$wa_app_url}settings">
                    <span class="s-icon-main icon">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="s-name">Настройки</span>
                </a>
            </li>

        </ul>
    </div> *}

    <div class="box custom-mb-4">
        <div class="blank box rounded">
            <div class="flexbox space-4 s-menu-link-storefront-status semibold">
                <span style="line-height: 1.125;">
                    <i class="fas fa-circle text-green smallest custom-mr-2"></i>
                </span>
                <span class="heading wide custom-m-0">Смотреть на витрине</span>
            </div>
            <a href="{$wa_app_url}" rel="noopener" target="_blank">
                <div class="flexbox middle space-4">
                    <div class="s-menu-link-storefront-status semibold text-ellipsis">ProjectName/</div>
                    <i class="s-icon fas fa-external-link-alt fa-xs s-menu-link-new-window"></i>
                </div>
            </a>
        </div>
    </div>
</div>