{* header  *}
{* <div class="sidebar-header custom-mt-20 custom-p-10">
    <h5 class="heading custom-mr-8">
        <span>{$sidebar_heading}</span>
        <a href="" target="_blank" class="count action"><i class="fas fa-plus-circle" style="color: #6bb532;"></i></a>
    </h5>
</div> *}


{* body *}
<div class="sidebar-body">
    <div class="box custom-py-0">
        <ul class="menu rounded">

            {foreach $cabinet_submenu as $item}

                {if !empty($item.id) && $item.id == 'status_settings'}
                    {* Сохраняем пункт "Настройки" для футера, в список не выводим *}
                    {assign var="selling_status_settings" value=$item}

                {elseif !empty($item.heading)}
                    {* Заголовок группы меню *}
                    <li class="menu-heading">
                        <h5 class="heading {$item.class}">
                            <span>{$item.heading|escape}</span>
                            {* 
                            Пример доп. действия около заголовка:
                            {if !empty($item.heading_action)}
                                <a href="{$item.heading_action}" class="count action">
                                    <i class="fas fa-plus-circle" style="color: #6bb532;"></i>
                                </a>
                            {/if}
                            *}
                        </h5>
                    </li>

                {else}
                    {* Обычный пункт меню *}
                    <li class="rounded{if !empty($item.active)} selected{/if}">
                        <a class="item" href="{$item.full_url}">
                            {if !empty($item.icon)}
                                <span class="s-icon-main icon">
                                    <i class="{$item.icon}" {if !empty($item.active)} style="color: var(--text-color-link);"
                                        {/if}></i>
                                </span>
                            {/if}
                            <span class="s-name">{$item.name|escape}</span>
                        </a>
                    </li>

                {/if}

            {/foreach}

        </ul>
    </div>
</div>



{* footer *}
<div class="sidebar-footer">
    <div class="box custom-py-0">
        {if !empty($selling_status_settings)}
            <ul class="menu rounded">
                <li class="rounded{if !empty($item.active)} selected{/if}">
                    <a class="item {$selling_status_settings.class|escape}" href="{$selling_status_settings.full_url}">

                        {if !empty($selling_status_settings.icon)}
                            <span class="s-icon-main icon">
                                <i class="{$selling_status_settings.icon}"></i>
                            </span>
                        {/if}
                        <span class="s-name">{$selling_status_settings.name|escape}</span>
                    </a>
                </li>
            </ul>
        {/if}
    </div>
</div>