{foreach $stat as $storage}
    {$_is_personal = ( $storage.access_type === filesStorageModel::ACCESS_TYPE_PERSONAL )}
    {$_is_limited = ( $storage.access_type === filesStorageModel::ACCESS_TYPE_LIMITED )}
    {$_is_everyone = ( $storage.access_type === filesStorageModel::ACCESS_TYPE_EVERYONE )}
    <tr class="f-statistics-item" data-id="{$storage.id|escape}">
        <td class="nowrap">
            <div class="f-name-wrapper">
                    <span class="f-storage-image custom-mr-4 inlinebox inline" style="width: 1.25rem;">
                        {if $_is_personal}
                            <i class="icon userpic userpic-20" style="background-image: url('{$storage.storage_contact.photo_url_20}')"></i>
                        {else}
                            {$storage.icon_str}
                        {/if}
                    </span>

                    <span class="f-storage-name">
                        {if $_is_personal}
                            {$storage.storage_contact.name|escape}
                        {else}
                            {$storage.name|escape}
                        {/if}
                    </span>

                {if $_is_personal}
                    <span class="f-storage-access-type smaller">
                        <i class="fas fa-lock text-gray" title="[`Only you can access files in this storage`]"></i>
                    </span>
                {/if}
            </div>
        </td>
        <td class="nowrap">{$storage.size_str}</td>
        <td>{$storage.count}</td>
        {if $clear_link}
            <td>
                <a href="javascript:void(0)" title="[`Clear trash`]" class="f-clear-storage-trash small">
                    <i class="fas fa-times text-red"></i> [`clear`]
                </a>
            </td>
        {/if}
    </tr>
{/foreach}
<tr class="f-total-size">
    <td class="">
        <div class="f-name-wrapper">
            [`Total`]
        </div>
    </td>
    <td>{$total.size_str}</td>
    <td>{$total.count}</td>
    {if $clear_link}
        <td></td>
    {/if}
</tr>
